*{ margin : 0 ; 
  padding : 0;
  box-sizing: border-box;
}

.logo{
padding-top: 20px;
}
.concats-us{ 
    background-color:white;
  border-radius: 10%;
  color: red;

}
nav{
    display: flex;
  justify-content: space-around;
  align-items: center;

    

}
.links{
    display: flex;
    gap: 50px;
   

}
 .links a  {
  text-decoration: none;
  color :rgb(36, 75, 31) ;
}
.links a:hover {
  color:  red;
}

.part1{
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 80px;

}
.leftpart{
  /* background-color: black; */
  width: 50vw;
  height:50vh ;
  padding-left: 70px;
}
.leftpart button:hover{
  background-color:white ;
  color: rgb(22, 22, 56);
}

.leftpart h1{
  color: rgb(22, 22, 56);
  font-size: 40px;
 
}
.leftpart h5 {
  color: grey;
  padding-bottom: 40px;
  padding-top: 30px;
}
button {
  background-color:red;
  border-radius: 20px;
  padding-top: 10px;
  padding-bottom: 10px;
  padding-right: 20px;
  padding-left: 20px;

  color :white ;
 border: none;
}
.rightpart {
  /* background-color: blue; */
  width: 50vw;
  height: 50vh;
}
.part2{
  /* padding-top: 200px; */
  display: flex;
  justify-content: space-around;
 align-items: start;
 /* margin-top: 20px; */
 

} 

.div1{
  gap: 20px;
}

.div1 button {
  width: 150px;
}
.div1 , .div2 , .div3{
 /* background-color: aqua; */
 /* width: 35%; */
 display: flex;
 flex-direction: column;
 /* align-items: center;
 justify-content: center; */
border-style:solid ;
 border-color: transparent ;
 width: 20vw;
 height: 50vh;


}
/* .div2 i  , .div3 i{ margin : 0 auto ;
 width: 70%;
 padding-bottom: 10px;
 
} */




.part2 h1{ 
  color:rgb(17, 17, 65) ;
  font-size:40px;
  
}
footer{
 background-color: rgb(27, 27, 157);
  justify-content: center;
  align-items: center;
margin-top: 20px;
padding-left: 600px;


}
footer div{
  display: flex;
 column-gap: 60px;
 padding-top: 20px;
 padding-bottom: 10px;
}
.footerlink a {
  text-decoration: none;
  color :white;
  padding-bottom: 20px;
  padding-top: 10px;
 

}
footer h1{
  color: red;
font-size: 40px;
margin: 0 auto ;
width: 90%;
}
footer h4{
 margin : 0 auto ;
 width: 70%;
 color: white;
}
footer h3{
  margin: 0 auto ;
  width: 80%;
  color: white;
}
.logosfooter{
  margin:0 auto;
  width: 80%;
  padding-top:10px ;
  padding-bottom: 10px;
  color :white ;
}

.part4{ 
 
  display: flex;
  justify-content: flex-start;
}
.part4 a , .mod {
  padding-left: 200px;
}

.part4 a {
  text-decoration: none;
  color: red;
}

.title2{
  display: flex;
  justify-content: flex-start;
  color:rgb(17, 17, 65) ;
}

.about{
  display: flex;
  justify-content: space-around;
}
.about input{
  width: 600px;
  height: 30px;
  
}

.input-text{
 display: flex;
 justify-content: flex-start;
 /* padding-left: 75px; */
 padding-top:20px ;

}

.input-text textarea{
 width: 94%;
 height: 200px;
}


.last-button{
    display: flex;
  justify-content: center;
  align-items: center;
  padding-top: 80px ;
}

.part4{
  padding-left: 40px;
}

.hero img{
  padding-bottom: 200px;
.modif{ 
  padding-left: 200px;
}
.input{padding-left: 200px;

} 

@media (max-width: 450px){
  .links{
    display: none;

  }
  nav button {
    display: none;
  }
  


  }


  
   









}